body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #263a6e;
}

.title {
    display: flex;
    justify-content: center;
    
    margin: 3vh 10vw;
}

.logo {
    max-width: 700px;
    width: 100%;
    height: auto;
}



.page-body {
    width: 95%;
    height: 65vh;
    padding: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.api-container {
    height: 85%;
    width: 50%;
    border-radius: 25px;
    background-color: #3a53a4;
    box-shadow: 5px 5px;
    border: 1px solid #fffafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tester {
    color: white;
    font-size: 1.2rem;
}


@media screen and (max-width: 1325px) {
    .api-container {
        width: 80%;
    }
}


@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .logo {
        max-width: 90%;
    }

}


@media screen and (max-width: 500px) {
    .logo.logo-alternate {
        max-width: 100%;
    }
}